/* Impostazioni generali per il body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile per l'header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Stile per il main */
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Stile per il footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


/* Stile per i form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Stile per le immagini */
img {
    max-width: 100%;
}

/* Stile per il contenitore della lista degli animali */
.lista-animali {
    width: 100%;
}

/* Stile per la modale */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stile per il contenitore della modale */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}